---
import { getCollection } from "astro:content";
const projects = await getCollection("projects", ({ data }) => data.featured);
---

<section id="projects">
  <div>
    <h2>Featured Projects</h2>
    <div>
      {
        projects.map(({ data }) => (
          <div>
            <img src={data.image} alt={data.title} />
            <div class="p-6">
              <h3>{data.title}</h3>
              <p>{data.description}</p>
              <div>
                {data.tags.map((tag) => (
                  <span>{tag}</span>
                ))}
              </div>
              {data.links.live && <a href={data.links.live}>View Project</a>}
              <a href={data.links.src}>Source Code</a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  h3 {
    color: var(--color-accent-hover);
    font-family: var(--font-display);
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  img {
    border-radius: 1rem;
    height: auto;
    object-fit: cover;
    width: 100%;
  }

  section > div > div {
    display: grid;
    gap: 2rem;
    margin-inline: auto;
    /* max-width: 64rem; */
  }

  section > div > div > div {
    background-color: var(--color-bg-primary);
    border-radius: 0.5rem;
    box-shadow:
      0 10px 15px -3px rgb(0 0 0 / 0.2),
      0 4px 6px -4px rgb(0 0 0 / 0.2);
    padding: 1.5rem;
  }

  section > div > div > div > div {
    font-family: var(--font-sans);
    padding: 1.5rem;
  }

  section > div > div > div > div > p {
    color: var(--color-text-secondary);
    margin-bottom: 1rem;
  }

  section > div > div > div > div > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 2rem;
  }

  section > div > div > div > div > div > span {
    background-color: var(--color-accent);
    border-radius: calc(infinity * 1rem);
    color: var(--color-accent-text);
    font-size: 0.875rem;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
  }

  a {
    border-radius: 0.5rem;
    text-decoration: none;
    font-family: var(--font-display);
    font-weight: 600;
    padding-block: 0.75rem;
    padding-inline: 2rem;
    background-color: var(--color-accent);
    color: var(--color-text-primary);
    margin-right: 1rem;
    transition: var(--transition-time);
  }

  a:hover {
    background-color: var(--color-accent-hover);
    transition: var(--transition-time);
  }

  @media (width >= 48rem) {
    section > div > div {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (width >= 64rem) {
    section > div > div {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
</style>
